<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.empresa.view.title"></app-i18n>
  </h1>

  <app-empresa-view-toolbar></app-empresa-view-toolbar>

  <div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <app-view-item-text
      [label]="fields.marca.label"
      [value]="presenter(record, 'marca')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.razaoSocial.label"
      [value]="presenter(record, 'razaoSocial')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.cnpj.label"
      [value]="presenter(record, 'cnpj')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.telefone.label"
      [value]="presenter(record, 'telefone')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.ramal.label"
      [value]="presenter(record, 'ramal')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.email.label"
      [value]="presenter(record, 'email')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.website.label"
      [value]="presenter(record, 'website')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.cep.label"
      [value]="presenter(record, 'cep')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.logradouro.label"
      [value]="presenter(record, 'logradouro')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.numero.label"
      [value]="presenter(record, 'numero')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.complemento.label"
      [value]="presenter(record, 'complemento')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.pontoReferencia.label"
      [value]="presenter(record, 'pontoReferencia')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.cidade.label"
      [value]="presenter(record, 'cidade')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.estado.label"
      [value]="presenter(record, 'estado')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.bairro.label"
      [value]="presenter(record, 'bairro')"
    ></app-view-item-text>

    <app-view-item-images
      [label]="fields.foto.label"
      [value]="presenter(record, 'foto')"
    ></app-view-item-images>

    <app-view-item-relation-to-one
      [label]="fields.user.label"
      [url]="fields.user.viewUrl"
      [permission]="fields.user.readPermission"
      [value]="presenter(record, 'user')"
    ></app-view-item-relation-to-one>
  </div>
</div>
