<!-- <div style="margin-top: 16px;">
  <div class="row">
    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
    >
      <app-dashboard-chart
        [props]="doughnut"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
    >
      <app-dashboard-chart
        [props]="mix2"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
    >
      <app-dashboard-chart
        [props]="bar"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-md-6"
    >
      <app-dashboard-chart
        [props]="mix1"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-md-6"
    >
      <app-dashboard-chart
        [props]="polar"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
    >
      <app-dashboard-chart
        [props]="horizontalBar"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
    >
      <app-dashboard-chart
        [props]="line"
      ></app-dashboard-chart>
    </div>

    <div
      style="margin-bottom: 1em;"
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4"
    >
      <app-dashboard-chart
        [props]="radar"
      ></app-dashboard-chart>
    </div>
  </div>

  <p
    style="
      font-size: 14px;
      width: 100%;
      text-align: center;
      color: grey;
    "
  >
    <app-i18n key="dashboard.message"></app-i18n>
  </p>
</div> -->

<body>
  <!-- Carrossel  -->
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
        style="background-color: #58a4b0"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        style="background-color: #58a4b0"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        style="background-color: #58a4b0"
      ></button>
    </div>
    <div class="carousel-inner" style="height: 500px">
      <div class="carousel-item active">
        <img
          src="http://lorempixel.com/640/480/cats/"
          class="d-block w-100"
          alt="..."
          style="
            object-fit: scale-down;
            background-color: #fff;
            width: 100%;
            height: 500px;
          "
        />
      </div>
      <div class="carousel-item">
        <img
          src="http://lorempixel.com/640/480/food/"
          class="d-block w-100"
          alt="..."
          style="
            object-fit: scale-down;
            background-color: #fff;
            width: 100%;
            height: 500px;
          "
        />
      </div>
      <div class="carousel-item">
        <img
          src="http://lorempixel.com/640/480/animals/"
          class="d-block w-100"
          alt="..."
          style="
            object-fit: scale-down;
            background-color: #fff;
            width: 100%;
            height: 500px;
          "
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
        style="background-color: #58a4b0"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
        style="background-color: #58a4b0"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="items-exposicao">
    <!-- exposicao -->
    <div class="flex-items-exposicao">
      <div class="flex-content-items-exposicao">
        <div class="items-box-exposicao">
          <img
            src="./../../assets/images/check.svg"
            alt=""
          />
          <span>Pagamento seguro</span>
        </div>

        <div class="items-box-exposicao">
          <img
            src="./../../assets/images/check.svg"
            alt=""
          />
          <span>Transações por pix</span>
        </div>

        <div class="items-box-exposicao">
          <img
            src="./../../assets/images/check.svg"
            alt=""
          />
          <span>Pague via boleto</span>
        </div>

        <div class="items-box-exposicao">
          <img
            src="./../../assets/images/check.svg"
            alt=""
          />
          <span>Pague com cartão de crédito</span>
        </div>

        <div class="items-box-exposicao">
          <img
            src="./../../assets/images/check.svg"
            alt=""
          />
          <span>Atendimento ao cliente</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Ofertas -->
  <div class="section-ofertas">
    <h4>Ofertas e Promoções</h4>

    <div class="section-ofertas-wrapper">
      <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="produto"
        [width]="1600"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      ></div>

      <ng-template #prev>
        <img src="assets/images/prev.png" />
      </ng-template>
      <ng-template #next>
        <img src="assets/images/next.png" />
      </ng-template>
      <ng-template #item let-item let-i="index">
        <div class="slide-items">
          <div class="content-box-items">
            <img
              src="{{ verifyImage(item.fotos) }}"
              (click)="sameUrl(item.id)"
            />
            <div class="single-box">
              <div>
                <h4 (click)="sameUrl(item.id)">
                  {{ item.nome }}
                </h4>
                <p (click)="sameUrl(item.id)">
                  {{ transformValue(item.preco) }}
                </p>
              </div>
              <strong>Consulte o frete</strong>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Destaques -->
  <div class="section-ofertas">
    <h4>Produtos em destaque</h4>

    <div class="section-ofertas-wrapper">
      <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="produto"
        [width]="1600"
        [$prev]="prev2"
        [$next]="next2"
        [$item]="item2"
      ></div>

      <ng-template #prev2>
        <img src="assets/images/prev.png" />
      </ng-template>
      <ng-template #next2>
        <img src="assets/images/next.png" />
      </ng-template>
      <ng-template #item2 let-item let-i="index">
        <div class="slide-items">
          <div class="content-box-items">
            <img
              src="{{ verifyImage(item.fotos) }}"
              (click)="sameUrl(item.id)"
            />
            <div class="single-box">
              <div>
                <h4 (click)="sameUrl(item.id)">
                  {{ item.nome }}
                </h4>
                <p (click)="sameUrl(item.id)">
                  {{ transformValue(item.preco) }}
                </p>
              </div>
              <strong>Consulte o frete</strong>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="items-exposicao">
    <!-- exposicao -->
    <div class="flex-items-exposicao">
      <div class="flex-content-items-exposicao">
        <div
          class="items-box-exposicao"
          (click)="
            sendToCatalog(
              '0e69fccf-7c54-40db-9cad-a502bfc3ca49'
            )
          "
        >
          <span>Madeira</span>
          <img
            src="assets/images/woods.png"
            alt=""
            style="
              width: 80px;
              height: 80px;
              margin-top: -18px;
            "
          />
        </div>

        <div
          class="items-box-exposicao"
          (click)="
            sendToCatalog(
              '1b4def86-1ca5-4bae-9c8f-c7cf121bbc8b'
            )
          "
        >
          <span>Tinta</span>
          <img
            src="assets/images/paint-bucket.png"
            alt=""
            style="width: 60px; height: 60px"
          />
        </div>

        <div
          class="items-box-exposicao"
          (click)="
            sendToCatalog(
              'af074ad8-ae4f-4484-a91c-e2d781f1cfc1'
            )
          "
        >
          <span>Telha</span>
          <img
            src="assets/images/roof.png"
            alt=""
            style="width: 60px; height: 60px"
          />
        </div>

        <div
          class="items-box-exposicao"
          (click)="
            sendToCatalog(
              'a8ef2c51-0a6a-4999-bac6-4806de47b37b'
            )
          "
        >
          <span>Pisos</span>
          <img
            src="assets/images/draws.png"
            alt=""
            style="width: 60px; height: 60px"
          />
        </div>

        <div
          class="items-box-exposicao"
          (click)="
            sendToCatalog(
              '25970959-129d-4b83-8a2a-6f050f27da0e'
            )
          "
        >
          <span>Ferramentas</span>
          <img
            src="assets/images/tools.png"
            alt=""
            style="width: 60px; height: 60px"
          />
        </div>

        <div
          class="items-box-exposicao"
          (click)="
            sendToCatalog(
              '25970959-129d-4b83-8a2a-6f050f27da0e'
            )
          "
        >
          <span>Portas e janelas</span>
          <div style="display: flex">
            <img
              src="assets/images/door.png"
              alt=""
              style="width: 60px; height: 60px"
            />
            <img
              src="assets/images/window.png"
              alt=""
              style="width: 60px; height: 60px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
  <div
    style="
      display: flex;
      justify-content: space-between;
      padding: 30px;
    "
  >
    <div
      style="
        align-self: center;
        width: 28vw;
        display: flex;
        justify-content: space-between;
      "
    >
      <span style="color: #fff; font-size: 18px"
        >Segurança e Privacidade</span
      >
      <span style="color: #fff; font-size: 18px"
        >Sobre a empresa</span
      >
      <span style="color: #fff; font-size: 18px"
        >Contato</span
      >
    </div>

    <div style="border: #fff solid 1px; border-radius: 3px">
      <div style="padding: 10px 240px 10px 10px">
        <span style="color: #fff; font-size: 18px"
          >Av. Fictício, São Paulo - SP</span
        >
        <br />
        <span style="color: #fff; font-size: 18px"
          >CEP: 12345-67</span
        >
        <br />
        <span style="color: #fff; font-size: 18px"
          >CNPJ: 11111110001</span
        >
      </div>
    </div>
  </div>

  <div style="text-align: center; line-height: 0">
    <span style="color: #fff; font-size: 22px"
      >© Copyright 2021 Constal Marketplace</span
    >
  </div>
</footer>
