<div class="app-page-toolbar" [ngClass]="{'space': role == 'empresa'}">
  <button
    *ngIf="hasPermissionToCreate"
    [routerLink]="'/produto/new'"
    mat-raised-button
    style="background-color: #58A4B0; width: 140px; height: 40px; border: none; color: #fff; font-size: 16px; margin: 8px;"
  >
    <mat-icon
      fontSet="fas"
      fontIcon="fa-plus"
      inline
    ></mat-icon
    >&#160;
    <app-i18n key="common.new"></app-i18n>
  </button>

  <!-- <button
    *ngIf="hasPermissionToImport"
    [routerLink]="'/produto/import'"
    mat-raised-button
    color="primary"
  >
    <mat-icon
      inline
      fontSet="fas"
      fontIcon="fa-file-import"
    ></mat-icon
    >&#160;
    <app-i18n key="common.import"></app-i18n>
  </button> -->

  <span
    *ngIf="hasPermissionToDestroy && role == 'admin'"
    [matTooltip]="destroyButtonTooltip"
  >
    <button
      [disabled]="destroyButtonDisabled"
      mat-raised-button
      color="primary"
      (click)="doDestroyAllSelected()"
      style="background-color: #D8DBE2; width: 140px; height: 40px; border: none; margin-right: 16px; font-size: 16px;"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-trash-alt"
      ></mat-icon
      >&#160;
      <app-i18n key="common.destroy"></app-i18n>
    </button>
  </span>

  <button
    *ngIf="hasPermissionToAuditLogs"
    mat-flat-button
    [routerLink]="['/audit-log']"
    [queryParams]="{ entityNames: 'produto' }"
  >
    <mat-icon
      inline
      fontSet="fas"
      fontIcon="fa-history"
    ></mat-icon
    >&#160;
    <app-i18n key="auditLog.menu"></app-i18n>
  </button>

  <!-- <button
    [disabled]="exportButtonDisabled"
    [matTooltip]="exportButtonTooltip"
    (click)="doExport()"
    mat-flat-button
  >
    <mat-icon
      inline
      fontSet="far"
      fontIcon="fa-file-excel"
    ></mat-icon
    >&#160;
    <app-i18n key="common.export"></app-i18n>
  </button> -->
</div>
