<div class="filter">
  <app-filter-preview
    [values]="form.value"
    [fields]="fields"
    [expanded]="expanded"
    (click)="doToggleExpanded()"
    (remove)="doRemove($event)"
  ></app-filter-preview>
  <form
    (ngSubmit)="doFilter()"
    [formGroup]="form"
    #ngForm="ngForm"
    *ngIf="form && expanded"
  >
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.codigo.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.codigo.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.codigo.name)"
              [label]="fields.codigo.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.quantidadeProdutos.label }}</mat-label>
          <app-integer-range-input
            [formControl]="
              form.get(fields.quantidadeProdutosRange.name)
            "
          ></app-integer-range-input>
          <mat-error>
            <app-validations
              [control]="
                form.get(fields.quantidadeProdutosRange.name)
              "
              [label]="fields.quantidadeProdutosRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.formaPagamento.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.formaPagamento.name"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.formaPagamento.name)"
              [label]="fields.formaPagamento.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.valorTotal.label }}</mat-label>
          <app-decimal-range-input
            [formControl]="form.get(fields.valorTotalRange.name)"
          ></app-decimal-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.valorTotalRange.name)"
              [label]="fields.valorTotalRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.dataPedido.label }}</mat-label>
          <app-date-time-range-input
            [formControl]="
              form.get(fields.dataPedidoRange.name)
            "
          ></app-date-time-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.dataPedidoRange.name)"
              [label]="fields.dataPedidoRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.dataProcessamento.label }}</mat-label>
          <app-date-time-range-input
            [formControl]="
              form.get(fields.dataProcessamentoRange.name)
            "
          ></app-date-time-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.dataProcessamentoRange.name)"
              [label]="fields.dataProcessamentoRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.dataEnvio.label }}</mat-label>
          <app-date-time-range-input
            [formControl]="
              form.get(fields.dataEnvioRange.name)
            "
          ></app-date-time-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.dataEnvioRange.name)"
              [label]="fields.dataEnvioRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.dataEntrega.label }}</mat-label>
          <app-date-time-range-input
            [formControl]="
              form.get(fields.dataEntregaRange.name)
            "
          ></app-date-time-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.dataEntregaRange.name)"
              [label]="fields.dataEntregaRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.dataFaturamento.label }}</mat-label>
          <app-date-time-range-input
            [formControl]="
              form.get(fields.dataFaturamentoRange.name)
            "
          ></app-date-time-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.dataFaturamentoRange.name)"
              [label]="fields.dataFaturamentoRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.status.label }}</mat-label>
          <mat-select
            [formControlName]="fields.status.name"
          >
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let option of fields.status.options"
              [value]="option.id"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-validations
              [control]="form.get(fields.status.name)"
              [label]="fields.status.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>{{ fields.valorFrete.label }}</mat-label>
          <app-decimal-range-input
            [formControl]="form.get(fields.valorFreteRange.name)"
          ></app-decimal-range-input>
          <mat-error>
            <app-validations
              [control]="form.get(fields.valorFreteRange.name)"
              [label]="fields.valorFreteRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <app-autocomplete-form-field
          [control]="form.get(fields.compradorUser.name)"
          [label]="fields.compradorUser.label"
          [fetchFn]="fields.compradorUser.fetchFn"
        ></app-autocomplete-form-field>
      </div>

      <div class="col-xs-12 col-lg-6">
        <app-autocomplete-form-field
          [control]="form.get(fields.fornecedorEmpresa.name)"
          [label]="fields.fornecedorEmpresa.label"
          [fetchFn]="fields.fornecedorEmpresa.fetchFn"
        ></app-autocomplete-form-field>
      </div>
    </div>

    <div class="filter-buttons">
      <button
        mat-raised-button
        [disabled]="loading"
        color="primary"
        type="submit"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-search"
        ></mat-icon
        >&#160;
        <app-i18n key="common.search"></app-i18n>
      </button>
      <button
        mat-flat-button
        [disabled]="loading"
        (click)="doReset()"
        type="button"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-undo"
        ></mat-icon
        >&#160;
        <app-i18n key="common.reset"></app-i18n>
      </button>
    </div>
  </form>
</div>
