<body style="height: 100%;">
  <div style="margin: 40px 90px">
    <div style="background-color: #fff; width: 100%; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); padding: 20px;">
      <div style="margin: 16px;">
        <p style="font-size: 20px;">Cliente: <span style="font-size: 16px; color: #626262;">{{detalhes.nome}}</span></p>
        <p style="font-size: 20px;">CPF: <span style="font-size: 16px; color: #626262;">{{detalhes.cpf}}</span></p>
        <p style="font-size: 20px;">Método de pagamento: <span
            style="font-size: 16px; color: #626262;">{{detalhes.formaPagamento}}</span></p>
        <p style="font-size: 20px;">Parcelamento: <span style="font-size: 16px; color: #626262;">xx</span></p>
      </div>

      <div style="display:flex; justify-content: center;">
        <table style="width:98%; border-spacing: 0;">
          <caption style="border: solid 1px; height: 3vh; text-align: center; border: 1px solid #ABABAB; caption-side: top; padding-bottom: 30px;">Produtos comprados</caption>
          <tr style="border: 1px solid #ABABAB; ">
            <th style="border: 1px solid #ABABAB; text-align: center;">Quantidade</th>
            <th style="border: 1px solid #ABABAB; text-align: center;">Nome do produto</th>
            <th style="border: 1px solid #ABABAB; text-align: center;">Cor</th>
            <th style="border: 1px solid #ABABAB; text-align: center;">Valor unitário</th>
            <th style="border: 1px solid #ABABAB; text-align: center;">Valor Total</th>
          </tr>
          <tr *ngFor="let produto of detalhes.produtos" style="border: 1px solid #ABABAB;">
            <td style="border: 1px solid #ABABAB; text-align: center;">{{produto.quantidade}}</td>
            <td style="border: 1px solid #ABABAB; text-align: center;">{{produto.nome}}</td>
            <td style="border: 1px solid #ABABAB; text-align: center;">XXXXXXX</td>
            <td style="border: 1px solid #ABABAB; text-align: center;">{{produto.precoUnitario}}</td><!--  -->
            <td style="border: 1px solid #ABABAB; text-align: center;">{{produto.precoTotal}}</td>
          </tr>
          <tr style="border: 1px solid #ABABAB; text-align: center;">
            <td style="border: 1px solid #ABABAB; text-align: center;"><br></td>
            <td style="border: 1px solid #ABABAB; text-align: center;"></td>
            <td style="border: 1px solid #ABABAB; text-align: center;"></td>
            <td style="border: 1px solid #ABABAB; text-align: center;"></td>
            <td style="border: 1px solid #ABABAB; text-align: center;"></td>
          </tr>
        </table>
      </div>

      <p style="text-align: end; margin: 16px;">Valor final da venda: <span>{{detalhes.valorTotal}}</span></p>

      <div style="margin: 16px;">
        <p style="font-size: 20px;">Endereço de destino: <span style="font-size: 16px; color: #626262;">{{detalhes.logradouro}}, nº {{detalhes.numero}},
            {{detalhes.bairro}}</span></p>
        <p style="font-size: 20px;">Complemento: <span style="font-size: 16px; color: #626262;">{{detalhes.complemento}}</span></p>
        <p style="font-size: 20px;">Cidade: <span style="font-size: 16px; color: #626262;">{{detalhes.cidade}}</span></p>
        <p style="font-size: 20px;">Ponto de referência: <span
            style="font-size: 16px; color: #626262;">{{detalhes.pontoReferencia}}</span></p>
        <p style="font-size: 20px;">Estado: <span style="font-size: 16px; color: #626262;">{{detalhes.estado}}</span></p>
        <p style="font-size: 20px;">CEP: <span style="font-size: 16px; color: #626262;">{{detalhes.cep}}</span></p>
      </div>

      <div style="display: flex; justify-content: end; margin-top: 120px;" *ngIf="detalhes.status == 'pendente'">
        <button (click)="reprovar()"
          style="background-color: #AA4848; width: 200px; height: 56px; border: none; color: #fff; 
          font-size: 20px; margin-right: 16px;">Cancelar
          venda</button>
        <button (click)="aprovar()"
          style="background-color: #58A4B0; width: 200px; height: 56px; border: none; color: #fff; 
          font-size: 20px;">Confirmar
          venda</button>
      </div>
    </div>
  </div>

  <footer
    style="background-color: #1B1B1E; height: 194px; bottom: 0; width: 100%; display: flex;flex-direction: column; justify-content: space-around;">
    <div style="display: flex; justify-content: center; padding: 30px;">
      <div style="align-self: center; width: 28vw; display: flex; justify-content: space-between;">
        <span style="color: #fff; font-size: 18px;">Segurança e Privacidade</span>
        <span style="color: #fff; font-size: 18px;">Sobre a empresa</span>
        <span style="color: #fff; font-size: 18px;">Contato</span>
      </div>
    </div>

    <div style="justify-content: center; display: flex;">
      <span style="color: #fff; font-size: 22px;">© Copyright 2021 Constal Marketplace</span>
    </div>
  </footer>
</body>
